.om-contacts {
  max-width: 1420px;
  margin: auto;
  border-bottom: 1px solid #707070;
}
.om-sidlo {
  background-image: url("cesta");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
}
.om-blog-list {
  margin: auto;
  padding: 0;
  max-width: 1112px;
  margin-top: 70px;
}

.om-blog-hover-image {
  width: 100%;
  overflow: hidden;
  max-height: 311px;
  display: flex;
  border-radius: 6px 6px 0 0;
  justify-content: center;
}
.om-blog-hover-image img {
  width: 100%;
  object-fit: cover;
  display: flex;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.om-blog-card a:hover img {
  transform: scale(1.05);
  overflow: hidden;
}
.om-blog-card {
  margin: 15px;
  min-width: 500px;
  max-width: 576px;
  padding: 0;
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  overflow: hidden;
}
.om-blog-datum {
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #e63743;
  padding-top: 28px;
  text-transform: uppercase;
  padding-left: 34px;
}
.om-blog-heading-2 {
  text-align: left;
  font: normal normal 600 24px/38px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  padding-top: 13px;
  padding-bottom: 20px;
  padding-left: 34px;
  padding-right: 17px;
  min-height: 89px;
}
.om-clanky-white-button {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 78px;
  max-width: 238px;
  padding: 18px 32px;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
}
.om-clanky-white-button:hover {
  background-color: #1d1d1d;
  color: white;
}
.om-clanky-white-button:hover a {
  color: white;
}
.om-clanky-white-button a {
  text-align: center;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.24px;
  color: #1d1d1d;
}
.om-trial {
  max-width: 1424px;
  margin: auto;
  height: 408px;
  background-image: url("../img/trial-background.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-color: #f1f4f7;
  border-radius: 0px 6px 6px 0px;
  margin-top: 0px;
  margin-bottom: 90px;
}
.om-trial-logo {
  margin-top: 51px;
  text-align: center;
}
.om-trial-heading {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  max-width: 400px;
  margin: auto;
}
.om-trial-text {
  padding-top: 20px;
  text-align: center;
  font: normal normal normal 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-trial-text b {
  font: normal normal 600 17px/29px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.om-trial-button {
  margin: 35px auto;
  max-width: 279px;
}
@media only screen and (max-width: 1424px) {
  .om-trial {
    height: 360px;
  }
  .om-trial-logo {
    margin-top: 21px;
    text-align: center;
  }
  .om-product-listing-list {
    margin: auto;
    max-width: 1089px;
  }
}
@media only screen and (max-width: 1200px) {
  .om-trial {
    background-image: none;

    height: 408px;
  }
}
@media only screen and (max-width: 1060px) {
  .om-blog-list {
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .om-blog-card {
    min-width: 300px;
  }
  .om-blog-heading-2 {
    font: normal normal 600 22px/36px Poppins;
  }
}
@media only screen and (max-width: 450px) {
  .om-blog-heading-2 {
    font: normal normal 600 20px/36px Poppins;
  }
}
