.carousel-wrap,
.om-carousel {
  margin: 0 auto;
  padding: 0 0;
  max-width: 1424px;
  position: relative;
}
.om-carousel {
  margin-top: 50px;
  max-width: 1584px;
  padding: 0 80px;
}
.carousel-wrap .owl-stage-outer {
  margin: 0 0;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}
.owl-nav .disabled {
  opacity: 0.2;
}
.om-previous {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.om-next {
  position: absolute;
  right: -80px;
  transform: translateY(-50%);
  top: 50%;
}
.owl-dot {
  padding: 3px 13.5px !important;
  margin-bottom: 3px;
  content: "text";
  background: #e4e4e4 0% 0% no-repeat padding-box !important;
  height: 6px;
  width: 27px;
  margin-left: 10px;
  outline: 0 !important;
}
.owl-dot.active {
  background-color: #c91019 !important;
}
.owl-dots {
  position: absolute;
  top: -45px;
  white-space: no;
  right: 0px;
}
.om-carousel-nadpis {
  text-align: left;
  font: normal normal 600 22px/34px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  padding-bottom: 31px;
  margin: 0;
}
.owl-carousel .owl-item img {
  width: auto;
}
.om-carousel-product-card {
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding-top: 22px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 47px;
}
.om-carousel-card-image-container {
  position: relative;
}
.om-card-product-image-info {
  position: absolute;
  right: -5px;
  cursor: pointer;
  top: -5px;
}
.om-card-product-image {
  width: 100%;
  margin: auto;
  min-height: 231px;
}
.om-card-product-price-container {
  margin-top: 15px;
  text-align: center;
}
.om-card-product-price {
  text-align: center;
  font: normal normal 600 24px/34px Poppins;
  letter-spacing: 0px;
  color: #000000;
  display: block;
}
.om-card-product-price-dph {
  text-align: center;
  font: normal normal normal 14px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  display: block;
}
.om-card-product-heading {
  text-align: center;
  font: normal normal 500 17px/23px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 280px;
  margin: auto;
  height: 52px;
  margin-top: 13px;
}
.product-redbutton-card {
  max-width: 186px;
  padding: 13px 27px;
  margin: 12px auto;
  margin-bottom: 0;
  text-align: center;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.24px;
  color: #ffffff;
}
@media only screen and (max-width: 820px) {
  .owl-dots {
    top: -20px;
    width: 100%;
    right: 0;
  }
  .owl-dot {
    padding: 3px 10px !important;
    margin-bottom: 3px;
  }
}
@media only screen and (max-width: 700px) {
  .carousel-wrap .owl-stage-outer {
    margin: 0 00px;
  }
  .om-carousel {
    padding: 0 0px;
  }
  .om-previous {
    display:none;
    left: 0px;
  }
  .om-next {
    display:none;
    right: 0px;
  }
  .owl-nav {
    display: none;
  }
}
