.om-detail-nadpis {
  max-width: 530px;
  margin: 58px auto;
  padding-left: 67px;
}
.om-detail-nadpis h1 {
  font: normal normal 600 48px/58px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  opacity: 1;
  text-align: center;
}
.om-detail-category {
  text-align: center;
  font: normal normal 600 11px/17px Poppins;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  background: #1d1d1d 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding: 4px 7.5px;
  width: max-content;
  margin-right: 0;
  margin-left: auto;
  margin-top: 6px;
}
.om-detail-tags {
  padding: 0 15px;
}
.om-detail {
  max-width: 1210px;
  margin: auto;
  margin-top: 30px;
}
.om-site-instock {
  background-image: url("../img/ok.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 26px;
  text-align: left;
  font: normal normal 600 17px/34px Poppins;
  letter-spacing: 0.42px;
  color: #1dad00;
  text-transform: uppercase;
}
.om-product-indicators {
  display: block;
  position: absolute;
  top: 0;
  left: -230px;
}
.om-product-indicators button {
  display: block;
  position: relative;
  height: 92px !important;
  width: 92px !important;
  padding: 0 !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #c91019 !important;
  border-radius: 6px !important;
  margin-bottom: 12px;
  text-indent: 0 !important;
}
.om-product-indicators-2 {
  margin-top: 20px;
  text-align: center;
}
.om-product-indicators-2 button {
  border: 0;
  height: 6px;
  width: 27px;
  background-color: #e4e4e4;
  margin-right: 7px;
}
.om-product-indicators-2 button.active {
  background-color: #c91019;
}
.om-detail-image {
  padding-left: 164.5px;
  padding-right: 0;
  max-width: 700px;
  margin: auto;
}
.om-detail-description {
  text-align: left;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}
.om-detail-heading-2 {
  padding-top: 19px;
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #777777;
  text-transform: uppercase;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.om-detail-icons {
  display: flex;

  justify-content: start;
}
.om-detail-icons img {
  padding-right: 11px;
}
.om-detail-price {
  text-align: left;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
}
.om-detail-price-container {
  border-bottom: 1px solid #e9e9e9;
}
.om-detail-price-box {
  max-width: 50%;
  padding-left: 76px;
  padding-right: 0;
}
.om-detail-price-box .om-detail-heading-2 {
  padding-bottom: 2px;
}
.om-detail-buy-redbutton {
  white-space: nowrap;
  min-width: 227px;
  max-width: 100%;
  margin-top: 26px;
  padding: 19px 33px;
}
.om-detail-price-dph {
  display: block;
  text-align: left;
  font: normal normal normal 14px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  padding-bottom: 13px;
}

.om-detail-checkbox {
  padding: 23.5px 58px;
  padding-right: 37px;
  background: #e9eef2 0% 0% no-repeat padding-box;
  border-radius: 6px;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: hsl(0, 0%, 0%);
  display: flex;
  margin-bottom: 11px;
}
.om-info {
  padding-top: 5px;
}

.om-detail-checkbox span {
  left: 23px;
}

.om-checkbox-price-number {
  white-space: nowrap;
  text-align: right;
  font: normal normal 600 19px/30px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  opacity: 1;
}

.om-checkbox-price-time {
  text-align: right;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  padding-left: 6px;
}
.om-checkbox-price {
  text-align: right;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.om-checkbox-price-number-s {
  white-space: nowrap;

  text-align: left;
  text-decoration: line-through;
  font: normal normal 600 17px/30px Poppins;
  letter-spacing: 0px;
  color: #c91019;
  padding-right: 6px;
}
.om-detail-checkbox-white {
  text-align: left;
  padding: 23.5px 58px;
  padding-right: 37px;
  display: flex;
  margin-bottom: 0;
}

.om-detail-checkbox-white span {
  left: 23px;
}
.om-detail-checkbox-white .om-checkbox-price {
  text-align: left;
  margin-right: auto;
  margin-left: 3px;
  font: normal normal 600 16px/29px Poppins;
}
.om-detail-checkbox-white .om-checkbox-price-number {
  font: normal normal 600 16px/29px Poppins;
  padding-left: 3px;
}
.om-detail-service-type {
  border-bottom: 1px solid #e9e9e9;
}
.om-detail-buy .col {
  padding-left: 0;
  padding-right: 0;
}
.om-detail-buy .om-detail-heading-2 {
  padding-bottom: 7px;
  padding-top: 22px;
}
.om-detail-buy-price {
  white-space: nowrap;
  padding-left: 0;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
}
.om-detail-buy .om-detail-heading-2 {
  padding-bottom: 5px;
}
.om-kosik-mini {
  padding-bottom: 3px;
  padding-right: 6px;
}
#om-carousel-main .carousel-control-next,
#om-carousel-main .carousel-control-prev {
  z-index: 100;
}
.om-carousel-accessories {
  margin-top: 84px;
}
.om-product-specification {
  border-top: 1px solid #dddddd;
  padding-top: 66px;

  max-width: 1424px;
  margin: 53.5px auto;
}

.om-product-specification-list tr,
.om-product-specification-list table {
  width: 100%;
}
.om-product-technology-name {
  text-align: left;
  font: normal normal 600 36px/53px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;

  padding-right: 32px;
}
.om-product-specification-heading {
  padding-bottom: 33px;
  text-align: left;
  font: normal normal 600 22px/34px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin-bottom: 0;
}
.om-product-specification-list {
  padding: 0;
  max-width: 576px;
  width: 40.336%;
}
.om-specification-name {
  text-align: left;
  font: normal normal normal 16px/45.5px Poppins;
  letter-spacing: 0px;
  color: #777777;
  width: 41.66666%;
}
.om-specification-content {
  text-align: left;
  font: normal normal 600 16px/45.5px Poppins;
  letter-spacing: 0px;
  color: #000000;
  width: 58.33%;
}
.om-product-specification-list tr {
  border-bottom: 1px solid #dddddd;
}
.noborder {
  border: 0 !important;
}
.om-product-technologies {
  padding-left: 123px;
  padding-right: 0;
}
.om-product-technolog-image {
  width: 100%;
  max-width: 342px;
}
.om-product-technologies-list {
  margin-top: 82px;
  list-style: none;
}
.om-product-technologies-item {
  margin-bottom: 41px;
  min-height: 88px;
}
.technology-image {
  padding: 0;
  padding-left: 4px;
  max-width: 73px;
  margin-right: 22px;
}
.om-product-technologies-item .col {
  padding: 0;
}
.om-product-technologies-item {
  text-align: left;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
main {
  background-repeat: no-repeat;
  padding-bottom: 1px;
  background-image: url("../img/background-monitorujeme.png");
  background-position-y: bottom;
}
.om-trial {
  max-width: 1424px;
  margin: auto;
  height: 408px;
  background-image: url("../img/trial-background.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-color: #f1f4f7;
  border-radius: 0px 6px 6px 0px;
  margin-top: 113px;
  margin-bottom: 90px;
}
.om-trial-logo {
  margin-top: 51px;
  text-align: center;
}
.om-trial-heading {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  max-width: 400px;
  margin: auto;
}
.om-trial-text {
  padding-top: 20px;
  text-align: center;
  font: normal normal normal 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-trial-text b {
  font: normal normal 600 17px/29px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.om-trial-button {
  margin: 35px auto;
  max-width: 279px;
}

.om-contactus {
  max-width: 1424px;
  background-color: white;
  opacity: 1;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0px 3px 48px #0000000d;
  background-image: url("../img/contactus-nebo.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.om-contactus-container {
  padding-top: 55px;
  padding-left: 10px;
  padding-bottom: 68px;
}
.om-contactus-email-body {
  max-width: 452px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-contactus-form {
  max-width: 417px;
  margin: auto;
  margin-top: 41px;
}

.om-contactus-input {
  height: 100%;
  border: 0 !important;
  outline: 0 !important;
  padding-left: 20px;
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  width: 100%;
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  opacity: 0.8;
}
.om-contactus-nadpis {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  padding-bottom: 23px;
  padding-top: 13px;
}
.om-contactus-input-container {
  padding-left: 0;
}
.om-contactus-button {
  max-width: 223px;
  margin: auto;
  margin-top: 41px;
}
.om-contactus-icon {
  text-align: center;
}
@media only screen and (max-width: 1520px) {
  .om-product-technologies-list {
    padding-left: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .om-product-specification-list {
    margin-left: 17px;
  }
}
@media only screen and (max-width: 1424px) {
  .om-trial {
    height: 360px;
  }
  .om-trial-logo {
    margin-top: 21px;
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  .om-trial {
    background-image: none;

    height: 408px;
  }
  .om-product-specification-list {
    max-width: 600px;
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
  }
  .om-product-technologies {
    margin-top: 40px;
  }
  .om-product-specification-list {
    margin-left: auto;
    margin-right: auto;
  }
  .om-detail-text-container {
    padding: 0;
  }
  .om-detail-checkbox {
    padding-right: 10px;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .om-contactus {
    background-image: none;
  }
  .om-contactus-lg-border {
    border-top: 2px solid #f4f4f4;
  }
  .om-product-technologies-list {
    max-width: 532px;
    margin: auto;
  }
  .om-product-technologies {
    padding-left: 17px;
    padding-right: 17;
  }
  .om-product-technologies-image-con {
    max-width: 382px;
    margin: auto;
  }
  .om-detail-text-container {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 20px;
    max-width: 500px;
    margin: auto;
  }
  .om-detail-nadpis {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 662px) {
  .om-detail-image {
    padding-left: 94.5px;
  }
  .om-product-indicators {
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
  }
}
@media only screen and (max-width: 444px) {
  .om-product-indicators {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    left: 0;
  }
  .om-detail-image {
    padding-left: 0;
  }
  .om-detail-checkbox..om-detail-checkbox-white {
    font: normal normal 500 14px/29px Poppins;
  }
  .om-checkbox-price-number {
    font: normal normal 600 17px/30px Poppins;
  }
  .om-checkbox-price-number-s {
    font: normal normal 600 13px/30px Poppins;
  }
  .om-detail-checkbox span,
  .om-detail-checkbox-white span {
    left: 13px;
  }
  .om-detail-checkbox,
  .om-detail-checkbox-white {
    padding-left: 38px;
  }
  .om-detail-checkbox {
    white-space: nowrap;
  }
  .om-detail-checkbox-white .om-checkbox-price-number {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 404px) {
  .om-checkbox-price-time {
    font: normal normal 500 14px/29px Poppins;

    padding-left: 4px;
  }
  .om-checkbox-price-number {
    font: normal normal 600 15px/30px Poppins;
  }
  .om-detail-price-box {
    padding-left: 50px;
  }
  .om-specification-content {
    text-align: right;
  }
}
@media only screen and (max-width: 375px) {
  .om-checkbox-price-number {
    font: normal normal 600 14px/30px Poppins;
  }
  .om-detail-checkbox,
  .om-detail-checkbox-white {
    font: normal normal 500 13px/29px Poppins;
  }
  .om-info {
    padding-left: 4px !important;
  }
  .om-detail-price-box {
    padding-left: 20px;
  }
  .om-detail-buy-redbutton {
    min-width: 180px;
    padding: 19px 18px;
  }
  .om-detail-buy {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 371px) {
  .om-detail-buy-redbutton {
    padding: 17px 12px;
  }
  .om-detail-buy-redbutton a {
    font: normal normal 500 14px/25px Poppins;
  }
}
