.om-filter-button {
  outline: 0;
  border: 0;
  padding: 15px 38px;
  background: #c91019 0% 0% no-repeat padding-box;
  border-radius: 6px 6px 0px 0px;
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.om-filter-button:hover {
  color: black;
}
.om-filter-toggler-container {
  margin-top: auto;
  position: absolute;
  bottom: 0;
}
.om-header-wrapper {
  height: 100%;
  position: relative;
}
.om-filter-container {
  max-width: 1500px;
  margin-right: 162px;
  margin-left: auto;
}
.om-filter {
  display: none;
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border: 1px solid #e9e9e9;
  max-width: 2000px;
  margin: auto;
  min-height: 296px;
  padding-top: 53px;
}
.om-category-description {
  padding-top: 62px;
  padding-bottom: 10px;
  max-width: 1424px;
  margin: auto;
}
.om-category-description-heading {
  text-align: left;
  font: normal normal 600 43px/58px Poppins;
  letter-spacing: 0px;
  color: #000000;
  padding-bottom: 27px;
  margin: 0;
}
.om-category-description-text {
  text-align: left;
  font: normal normal 500 17px/29px Poppins;
  max-width: 700px;
  letter-spacing: 0px;
  color: #777777;
}
.om-filter .col-lg {
  padding-left: 0;
}
.om-filter-image {
  padding: 0;
  padding-top: 0px;
  margin-top: -26px;
  width: 27.79%;
}
.om-filter-image img {
  width: 100%;
}

.om-product-listing {
  max-width: 1424px;
  margin: auto;
}
.om-product-sorting {
  text-align: right;
  padding-bottom: 26px;
}
.om-carousel-card {
  max-width: 334px;
}
.om-product-listing-list {
  margin-left: -15px;
  margin-right: -15px;
}
.om-product-listing-list .om-card-special {
  margin: 14.5px;
  max-width: 334px;
  min-width: 334px;
}
.om-product-listing-list .om-carousel-card {
  padding-left: 0;
  padding-right: 0;
  min-width: 334px;

  margin: 14.5px;
}
.om-product-sorting-link {
  padding-left: 25px;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: #c8c8c8;
  text-decoration: none;
}
.om-product-sorting-link:hover {
  color: #000000;
}
.om-product-sorting-link.active {
  text-decoration: underline;
  font: normal normal bold 16px/29px Poppins;
  letter-spacing: 0px;
  color: #000000;
}
.om-trial {
  max-width: 1424px;
  margin: auto;
  height: 408px;
  background-image: url("../img/trial-background.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-color: #f1f4f7;
  border-radius: 0px 6px 6px 0px;
  margin-top: 113px;
  margin-bottom: 120px;
}
.om-trial-logo {
  margin-top: 51px;
  text-align: center;
}
.om-trial-heading {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  max-width: 400px;
  margin: auto;
}
.om-trial-text {
  padding-top: 20px;
  text-align: center;
  font: normal normal normal 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-trial-text b {
  font: normal normal 600 17px/29px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.om-trial-button {
  margin: 35px auto;
  max-width: 279px;
}

@media only screen and (min-width: 2000px) {
  .om-filter-container {
    margin-right: auto;
  }
}
@media only screen and (min-width: 1424px) {
  .om-product-listing-list .om-card-special,
  .om-product-listing-list .om-carousel-card {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media only screen and (max-width: 1700px) {
  .om-filter-container {
    margin-right: auto;
  }
}
@media only screen and (max-width: 1540px) {
  .om-filter-image {
    display: none;
  }
  .om-filter-container {
    justify-content: center;
  }
  .om-filter .col-lg {
    padding-left: 2%;
  }
}
@media only screen and (max-width: 1424px) {
  .om-trial {
    height: 360px;
  }
  .om-trial-logo {
    margin-top: 21px;
    text-align: center;
  }
  .om-product-listing-list {
    margin: auto;
    max-width: 1089px;
  }
  .om-product-listing-list .om-card-special,
  .om-product-listing-list .om-carousel-card {
    flex: 1 0 0%;
    width: auto;
    margin: 14.5px;
  }
  .om-product-sorting {
    padding-right: 17px;
  }
  .om-category-description {
    padding-left: 17px;
  }
}
@media only screen and (max-width: 1200px) {
  .om-trial {
    background-image: none;

    height: 408px;
  }
}
@media only screen and (max-width: 1089px) {
  .om-product-listing-list {
    max-width: 729px;
  }
}
@media only screen and (max-width: 729px) {
  .om-product-listing-list {
    justify-content: center;
  }
}
@media only screen and (max-width: 625px) {
  .om-header {
    height: 420px;
  }
  .om-product-sorting {
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .om-header-nadpis {
    padding-top: 20px;
  }
}
