.om-obtext {
  max-width: 1424px;
  margin: auto;
}
.om-obtext-img {
  width: 100%;
  max-width: 697px;
}

.om-left-obrazek {
  padding-left: 0;
  padding-right: 15px;
  border-radius: 6px;
}
.om-left-large-obrazek {
  width: 55.5%;
  padding-left: 0;
  padding-right: 0;
}
.om-large-img {
  max-width: 790px;
  width: 100%;
}
#prvni-obtext {
  margin-top: 58px;
}
#druhy-obtext {
  margin-top: 48px;
}
#treti-obtext {
  border-bottom: 1px solid #c4c4c4;
  margin-top: 48px;
}

.om-red-category {
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #e63743;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.om-right-popis {
  padding-top: 80px;
}
.om-left-popis {
  padding-left: 0px;
  padding-top: 80px;
}

.om-popis-container {
  margin-left: auto;
  margin-right: 110px;
  max-width: 456px;
}
.om-right-obrazek {
  padding-right: 0;
  text-align: right;
  padding-left: 15px;
  border-radius: 6px;
}
.om-nabidka .col-lg {
  padding-left: 0;
  padding-right: 0;
}
.om-nabidka {
  max-width: 1424px;
  margin: auto;
}
.om-nabidka-text-container {
  width: 52.5%;
  padding: 0;
  padding-top: 91px;
  padding-bottom: 121px;
}
.om-nabidka-link-container {
  padding: 0;
  padding-top: 91px;
  padding-bottom: 121px;
}
.om-nabidka-link {
  width: 247px;
  margin: auto;
  margin-right: 121px;
}
.om-nabidka-text {
  margin-right: 0;
  margin-left: auto;
  text-align: left;
  max-width: 621px;

  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
}
.om-link-cena {
  padding-top: 20px;
  text-align: center;
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
}
@media only screen and (max-width: 1200px) {
  .om-nabidka-text {
    padding-left: 17px;
  }
  .om-right-popis {
    padding-top: 10px;
  }
  .om-left-popis {
    padding-left: 17px;
    padding-top: 10px;
  }
  .om-popis-container {
    margin-left: auto;
    margin-right: 5%;
    max-width: 456px;
  }
}
@media only screen and (max-width: 992px) {
  .om-nabidka-text-container {
    margin: auto;
  }
  .om-nabidka-text-container {
    padding-bottom: 0;
  }
  .om-nabidka-link {
    margin-right: auto;
  }
  .om-nabidka-text {
    margin-right: auto;
    margin-left: auto;
  }
  .om-popis-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 456px;
  }
  .om-left-obrazek {
    padding-right: 0;
  }
  .om-left-obrazek {
    text-align: center;
  }
  .om-right-obrazek {
    text-align: center;
    padding-left: 0;
  }
  .om-left-large-obrazek {
    text-align: center;
    width: 100%;
  }
  .om-right-popis,
  .om-left-popis {
    padding-bottom: 4rem;
    padding-left: 0;
    padding-right: 0;
  }
  .om-right-popis-container {
    margin: auto;
  }
  .om-nabidka-text-container {
    width: 82.5%;
  }
}
@media only screen and (max-width: 600px) {
  .om-right-popis,
  .om-left-popis {
    padding-left: 10px;
    padding-right: 10px;
  }
  .om-nabidka-text-container {
    width: 100%;
  }
}
