.om-product-show {
  /*
	První věc na stránce obsahuje obrázek laptopu se satelitem
	*/
  margin: auto;
  max-width: 2000px;
  background-image: url("../img/mapaprodukt.png");
  background-repeat: no-repeat;
  height: 705px;
  background-size: cover;
  background-position-x: 0px;
  margin-top: 60px;
}
.product-image {
  /*styly containeru obsahující obrázek se satelitem */
  width: 63%;
  padding-top: 120px;
  margin-right: 5px;
  text-align: right;
}
.product-image img {
  /*úprava samotného obrázku*/
  width: 92%;
}
.cenovka-zelena {
  left: 0.5%;
  top: 54.3%;
}

/*konec součástí cenovky*/
.product-nadpis {
  /*nadpis GPS Online monitoring*/
  text-align: left;
  font: normal normal 600 43px/58px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  margin-bottom: 0;
  margin-right: -100px;
  max-width: 530px;
}
.product-container {
  /*container obsahující nadpis popis červené tlačítko*/
  padding-top: 170px;
  padding-left: 248px;
}
.product-popis {
  /*popis produktu */
  padding-top: 32px;
  text-align: left;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  opacity: 1;
}
/*červen= tlačítko co monitorujeme*/

.product-redbutton {
  margin-top: 46px;
  width: 217px;
}
/* konec červené tlačítko co monitorujeme*/

/* Druhá section*/
.om-poskytujeme {
  max-width: 2000px;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 50px;
  /*uprava section*/
}
.om-nadpis {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  margin-bottom: 0;
}
.om-sluzby-card {
  padding: 46px 52px;
  padding-bottom: 0;
  background-color: #f1f4f7;
  border-radius: 6px;
  max-width: 455px;
  min-height: 248px;
  background-repeat: no-repeat;
  background-position-x: right;
  margin: 0 14px;
}
.om-sluzby-card-gps {
  background-image: url("../img/satelite-card.png");
}
.om-sluzby-card-kniha {
  background-image: url("../img/mapka-card.png");
}
.om-sluzby-card-zabezpeceni {
  background-image: url("../img/pc-card.png");
}
.om-sluzby-seznam {
  padding: 0 0;
  justify-content: center;
  margin-top: 34px;
}
.om-sluzby-card-nadpis {
  text-align: left;
  font: normal normal 600 22px/34px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
}
.om-clanky-card:hover .om-clanky-hover-image img {
  transform: scale(1.1);
}
.om-clanky-hover-image img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.om-clanky-hover-image {
  border-radius: 6px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  max-width: 334px;
  max-height: 218px;
  overflow: hidden;
}
.om-sluzby-card-odkaz {
  height: 100%;
  margin-top: 5rem;
}
.om-sluzby-card-odkaz a:hover {
  color: rgba(238, 88, 98, 0.747);
}
.om-sluzby-card-odkaz a {
  /* odkaz více infomací*/
  text-align: left;
  font: normal normal 600 14px/24px Poppins;
  letter-spacing: 1.4px;
  color: #e63743;
  text-transform: uppercase;
}
.om-sluzby-card-odkaz img {
  /*obrázek více informací*/
  margin-right: 9px;
}
/*mějtě přehled sekce*/
.om-popis {
  text-align: center;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  padding-top: 19px;
  color: #777777;
}
.om-prehled {
  background-color: #f1f4f7;
  min-height: 470px;

  margin-top: 21px;
  margin-bottom: 71px;
}
.om-prehled-content {
  margin: auto;

  padding-top: 49px;
  max-width: 2000px;
}
.om-prehled-seznam {
  margin: auto;
  box-shadow: 0px 1px 15px #00000008;
  margin-top: 38px;
  background-color: white;
  max-width: 1424px;
  min-height: 252px;
  border-radius: 6px;
}
.om-prehled-card {
  min-width: 155px;
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.om-prehled-card-container {
  border-right: 1px solid #efefef;
  padding-top: 10px;
  margin-top: 33px;
  margin-bottom: 31px;
}
.om-prehled-card-img {
  width: 50%;
  margin: auto;
}
.om-prehled-card-img-auto {
  margin-top: 48px;
}

.om-prehled-card-text {
  margin: auto;
  margin-top: 35px;
  text-align: center;
  font: normal normal 500 16px/22px Poppins;
  letter-spacing: 0px;
  color: #c91019;
  max-width: 136px;
}
.om-prehled-card-text-auto {
  max-width: 92px;
}

.om-prehled-card a:hover {
  text-decoration: underline;
  color: #c91019;
}
.om-prehled-card-img img {
  width: 100%;
}

.om-prehled-card-img-auto {
  width: 81px;
  margin-top: 58px;
}
.om-prehled-card-img-nakladak {
  width: 83px;
  margin-top: 47px;
}
.om-prehled-card-img-autobus {
  width: 98px;
  margin-top: 55px;
}
.om-prehled-card-img-zasilky {
  width: 60px;
  margin-top: 40px;
}
.om-prehled-card-img-osoby {
  width: 51px;
  margin-top: 10px;
}
.om-prehled-card-img-bagr {
  width: 93px;
  margin-top: 22px;
}
.om-prehled-card-img-lode {
  width: 56px;
  margin-top: 28px;
}
.om-nove-osoby {
  background-color: #c91019;
  text-align: left;
  font: normal normal 600 11px/15px Poppins;
  letter-spacing: 1.1px;
  color: #ffffff;
  margin-left: 15px;

  text-transform: uppercase;
}
.om-nove-osoby::after {
  content: "";
  width: 0;
  height: 0;
  left: 37px;
  top: 33px;
  position: absolute;
  border-style: solid;
  border-width: 6px 0px 0 6px;
  border-color: #c91019 transparent transparent transparent;
}
/* demo e-shop */
.om-demo-eshop .col {
  padding: 0;
}
.om-demo-eshop {
  justify-content: center;
  max-width: 1424px;
  margin: auto;
  margin-bottom: 70px;
}
.om-demo-eshop-tag {
  background: #c91019 0% 0% no-repeat padding-box;
  border-radius: 3px;
  padding: 9px 16px;
  text-align: left;
  font: normal normal 600 14px/19px Poppins;
  letter-spacing: 1.4px;
  color: #ffffff;
  text-transform: uppercase;
}
.om-demo-eshop-content {
  width: 100%;
  height: 100%;
  padding: 42px 37px;
}
.om-demo-eshop-nadpis {
  margin-top: 58px;
  text-align: left;
  font: normal normal 500 22px/34px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  width: 245px;
}
.om-demo-eshop-card {
  min-width: 361px;
  background-repeat: no-repeat;
  height: 264px;
  border-radius: 6px;
  overflow-y: hidden;
}
.om-demo-eshop-card a {
  height: 100%;
  width: 100%;
}
.om-eshop-image {
  margin-left: 15px;
  overflow: hidden;
}
/* nesnáším efekty*/
.om-demo-eshop-content {
  transition: all 0.5s;

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.om-eshop-image .om-eshop-img {
  background-image: url("../img/eshop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;

  overflow: hidden;
}
.om-eshop-image:hover .om-eshop-img {
  transform: scale(1.1);
}
.om-eshop-image:hover .om-demo-eshop-content {
  transform: scale(0.9);
}
.om-demo-image {
  margin-right: 15px;
  overflow: hidden;
}
.om-demo-image .om-demo-img {
  background-image: url("../img/demo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.om-demo-image:hover .om-demo-img {
  transform: scale(1.1);
}
.om-demo-image:hover .om-demo-eshop-content {
  transform: scale(0.9);
}
/* Section s články*/

.om-clanky {
  /*section s články*/
  justify-content: center;
  max-width: 1424px;
  margin: 70px auto;
  margin-bottom: 120px;
  padding: 0;
}
.om-clanky-popis-container {
  max-width: 326px;
  min-width: 319px;
  margin-right: 36px;
  padding: 0;
}
.om-clanky-datum {
  text-align: left;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #e63743;
  padding-top: 28px;
  text-transform: uppercase;
}
.om-clanky-nadpis-2 {
  text-align: left;
  font: normal normal 600 19px/30px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  padding-top: 13px;
  padding-bottom: 0;
}
.om-clanky-popis {
  /*popis nalevo*/

  text-align: left;
  padding-top: 27px;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-clanky-white-button {
  margin-top: 69px;
  padding: 19px 25px;
  border: 1px solid #b2b2b2;
  max-width: 246px;
  border-radius: 6px;
}
.om-clanky-white-button a {
  text-align: center;
  font: normal normal 600 14px/21px Poppins;
  letter-spacing: 1.4px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.om-clanky-white-button:hover a {
  color: rgba(32, 32, 32, 0.801);
}
.om-clanky-white-button img {
  margin-left: 11px;
}
.om-clanky-card:hover .om-clanky-popis-container img {
}
.om-clanky-card {
  padding: 0;

  margin-right: 29px;
  max-width: 335px;
}
.om-clanky-card {
  border-radius: 6px;
}

.text-left {
  text-align: left;
}
@media only screen and (max-width: 1835px) {
  .product-container {
    padding-top: 150px;
    padding-left: 200px;
  }
  .product-image {
    padding-top: 100px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1670px) {
  .product-container {
    padding-left: 140px;
  }
}
@media only screen and (max-width: 1490px) {
  .om-sluzby-card {
    margin: 0 7px;
    max-width: 440px;
    background-size: 190px;
    padding: 30px 40px;
  }
  .product-container {
    padding-left: 70px;
  }
  .om-clanky-popis-container {
    margin-left: 15px;
  }
  .om-clanky-card {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 1320px) {
  .om-clanky-card {
    margin: 10px;
  }
  .om-clanky-white-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .om-sluzby-card {
    background-image: none;
    max-width: 400px;
    min-height: 0;
    padding: 30px 30px;
  }
  .product-container {
    padding-top: 100px;

    padding-left: 30px;
  }
  .product-image {
    padding-top: 100px;
    width: 55%;
  }
}

@media only screen and (max-width: 1200px) {
  .om-product-show {
    /*
	První věc na stránce obsahuje obrázek laptopu se satelitem
	*/
    height: max-content;
  }
  .product-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
  }
  .product-image {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1150px) {
  .product-nadpis {
    margin-right: -10px;
  }
}
@media only screen and (max-width: 1085px) {
  .om-prehled-card-container {
    border-right: none;
  }
}

@media only screen and (max-width: 992px) {
  .om-sluzby-card {
    padding: 20px 20px;
  }
  .product-nadpis {
    font: normal normal 600 35px/45px Poppins;
  }
  .om-sluzby-card-nadpis {
    font: normal normal 600 19px/31px Poppins;
  }
  .om-clanky-popis-container {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .product-nadpis {
    font: normal normal 600 30px/40px Poppins;
    margin-right: -50px;
  }
  .om-sluzby-card-nadpis {
    font: normal normal 600 16px/28px Poppins;
  }
}
@media only screen and (max-width: 767px) {
  .product-container {
    padding: 5% 35px;
  }
  .om-demo-img,
  .om-eshop-img {
    background-position-x: left !important;
  }
  .om-sluzby-card {
    margin: 20px auto;
  }
  .om-sluzby-card-gps {
    background-image: url("../img/satelite-card.png");
  }
  .om-sluzby-card-kniha {
    background-image: url("../img/mapka-card.png");
  }
  .om-sluzby-card-zabezpeceni {
    background-image: url("../img/pc-card.png");
  }
  .product-nadpis {
    font: normal normal 600 40px/50px Poppins;
    margin-right: 0px;
  }
  .product-popis {
    width: 80%;
  }
  .product-image {
    width: 100%;
  }
  .om-poskytujeme {
    margin-top: 310px;

    /*uprava section*/
  }
  .om-eshop-image {
    margin: 5%;
  }
  .om-demo-image {
    margin: 5%;
  }
}

@media only screen and (max-width: 650px) {
  .product-popis {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .product-nadpis {
    font: normal normal 600 30px/40px Poppins;
  }
  .product-container {
    padding: 0 5%;
  }
  .om-demo-eshop-content {
    padding: 30px 20px;
    min-width: 0;
  }
  .om-demo-eshop-card {
    min-width: 280px;
  }
}
@media only screen and (max-width: 360px) {
  .om-clanky-popis-container {
    min-width: 260px;
  }
  .om-sluzby-card {
    background-image: none;
  }
  .om-sluzby-card-nadpis {
    font: normal normal 600 17px/28px Poppins;
  }
}
