.om-contact-information {
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-contact-information b {
  text-align: left;
  font: normal normal 600 16px/29px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.om-headquarters {
  background-image: url("../img/headquarters.png");
  background-repeat: no-repeat;
  background-position-x: 1.5%;
  margin-top: 3px;
  margin-left: 48px;
  padding-left: 0px;
}
.om-contact-heading-container {
  padding: 0;
}
.om-show-map {
  text-align: left;
  font: normal normal 500 16px/31px Poppins;
  letter-spacing: 0px;
  color: #c91019;
}
.om-show-map:hover {
  color: #c91019;

  text-decoration: underline;
}
.om-contact-registration {
  text-align: left;
  font: normal normal normal 14px/27px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-contact-business-container {
  margin-left: 10px;
}
.om-headquarters-container {
  margin-left: 124px;
}
.om-contact-section {
  max-width: 1424px;
  margin: auto;
  margin-top: 120px;
  padding-bottom: 65px;
  border-bottom: 1px solid #dddddd;
}
.om-person-section {
  max-width: 1424px;
  margin: auto;
  margin-top: 56px;
  padding-bottom: 65px;
}

.om-main-heading {
  text-align: left;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  opacity: 1;
}
.om-person-name {
  text-align: left;
  font: normal normal 600 22px/34px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  opacity: 1;
}
.om-person-container {
  margin-left: 150px;
}
.om-person {
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 47px;
  max-width: 455px;
  padding-top: 47px;

  padding-bottom: 41px;
}
.om-oldrich {
  margin-left: 55px;
  background-image: url("../img/oldrich.png");
}
.om-miroslava {
  background-image: url("../img/miroslava.png");
  margin-left: 29px;
}
.om-person-job {
  text-align: left;
  font: normal normal 600 13px/25px Poppins;
  letter-spacing: 0.74px;
  color: #b9b9b9;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.om-person-tel a {
  text-align: left;
  font: normal normal 500 16px/31px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.om-person-tel:hover a {
  font: normal normal 600 16px/31px Poppins;
}
.om-person-email a {
  text-align: left;
  font: normal normal 500 16px/31px Poppins;
  letter-spacing: 0px;
  color: #c91019;
}
.om-person-email:hover a {
  font: normal normal 600 16px/31px Poppins;
}
.om-contact-heading-container-2,
.om-contact-heading-container {
  max-width: 428px;
}
.om-header-nadpis {
  padding-top: 100px;
}
.om-map {
  max-width: 1428px;
  margin: auto;
  margin-bottom: 128px;
}
@media only screen and (max-width: 1428px) {
  .om-contact-section,
  .om-person-section {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media only screen and (max-width: 1300px) {
  .om-person {
    background-position-x: 5%;
  }
  .om-person-container {
    margin-left: 100px;
  }
  .om-contact-heading-container-2,
  .om-contact-heading-container {
    max-width: 380px;
  }
}

@media only screen and (max-width: 1150px) {
  .om-oldrich {
    margin-left: 25px;
  }
  .om-contact-heading-container-2 {
    max-width: 320px;
  }
  .om-person {
    background-position-x: 90%;
    background-position-y: 50%;
  }
  .om-person-container {
    margin-left: 10px;
  }
  .om-headquarters {
    margin-left: 0;
    padding-right: 0;
  }
  .om-headquarters-container {
    margin-left: 80px;
  }
  .om-contact-business-container {
    margin-left: 0;
  }
  .om-main-heading {
    font: normal normal 600 28px/46px Poppins;
  }
}
@media only screen and (max-width: 992px) {
  .om-contact-business {
    padding-left: 0;
  }
  .om-contact-heading-container-2,
  .om-contact-heading-container {
    max-width: 438px;
    margin: auto;
  }
  .om-person-container {
    margin-left: 150px;
  }
  .om-person {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-position-x: 10%;
    background-position-y: 47px;
  }
  .om-contact-business-container {
    margin-left: 0;
  }
  .om-headquarters {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 428px;
  }
  .om-contact-business {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 428px;
  }
  .om-contact-section {
    margin-top: 30px;
  }
  .om-headquarters {
    background-position-x: 90%;
    background-position-y: 40%;
  }
  .om-headquarters-container {
    margin-left: 0;
  }
}
@media only screen and (max-width: 432px) {
  .om-headquarters {
    background-image: none;
  }
  .om-person {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-position-x: 7%;
    background-position-y: 47px;
  }
  .om-person-container {
    margin-left: 100px;
  }
  .om-person-tel,
  .om-person-email {
    margin-left: -90px;
  }
}
