a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /*odstranění potržení v odkazech pokud není specifikováno jinak*/
}
p {
  margin-bottom: 0;
}

/* vlastní utility classy*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}
.pt-33 {
  padding-top: 33px;
}

.pb-33 {
  padding-bottom: 33px;
}

.text-right {
  text-align: right;
}

/*konec utility class*/
/* checkbox*/

.om-checkbox {
  display: block;
  position: relative;
  padding-left: 37px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font: normal normal 500 15px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
/*
  width: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #777777;
  border-radius: 3px;
  outline: 0;
  height: 20px; 
Hide the browser's default checkbox */
.om-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.om-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.om-checkbox input:checked ~ .checkmark {
  background-color: #c91019;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.om-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.om-checkbox .checkmark:after {
  left: 6px;
  top: 2.5px;
  width: 7px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #777777;
  border-radius: 3px;
  opacity: 1;

  background-color: #eee;
}

/*konec checkbox*/

.row {
  /*odstranění blbostí z bootstrapu, které nemám rád*/
  margin-left: 0;
  margin-right: 0;
}
.text-red {
  color: #c91019;
}

/* return to top šipička */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e8e8e8;
  width: 60px;
  height: 60px;
  padding: 20px;
  z-index: 1000;
  display: block;
  box-shadow: 0px 3px 15px #00000014;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top img {
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: #cbcbcb;
}

/*konec return to top šipička*/

/* Eshop  kartičky*/
/*konec Eshop kartičky*/
.om-card-special {
  background: #dce2e7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  padding: 44px 35px;
  padding-bottom: 34px;
  text-align: center;
}
.om-card-special-heading {
  text-align: left;
  font: normal normal bold 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  opacity: 1;
}
.om-card-special-subheading {
  text-align: left;
  max-width: 233px;

  font: normal normal 600 24px/38px Poppins;
  letter-spacing: 0px;
  color: #707b7e;
}
.om-card-special-image-container {
  position: relative;
  margin-bottom: 46px;
}
.om-card-special-image {
  max-width: 286px;
  width: 100%;
}
.om-card-special-30off {
  position: absolute;
  bottom: 10px;
  right: -17px;
}
.om-card-special-button {
  margin: auto;
  max-width: 222px;
  border: 1px solid #0000001e;
  border-radius: 6px;
  background-color: transparent;
  outline: 0;
  padding: 20px 26px;
  cursor: pointer;
}
.om-card-special-button a {
  color: #000000;

  text-decoration: none;

  font: normal normal 600 14px/21px Poppins;
}
.om-card-special-button:hover {
  background-color: black;
}
.om-card-special-button:hover a {
  color: white;
}
.om-carousel-card {
  padding-top: 22px;
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border-radius: 6px;
}
.om-carousel-card-image {
  position: relative;
}
.om-carousel-card-image .om-carousel-card-image-main {
  max-width: 286px;
  width: 100% !important;
  margin: auto;
  display: block;
}
.om-carousel-card-transport {
  position: absolute;
  width: 80px;
  bottom: -5px;
  right: 6%;
}
.om-carousel-card-image-new {
  position: absolute;
  top: 0px;
  left: 0;
}
.om-carousel-card-heading {
  text-align: center;
  font: normal normal 500 17px/24px Poppins;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 10px;
}
.om-carousel-card-body {
  margin: auto;
  margin-top: 27px;
  width: 85%;
  padding-bottom: 50px;
  border-bottom: 1px solid #70707038;
}
.om-carousel-card-list {
  padding-left: 0;
  list-style: none;
  text-align: left;
  font: normal normal 500 15px/37px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-carousel-card-list li {
  padding-bottom: 3px;
}
.om-carousel-card-list-distress {
  background-image: url("../img/distress.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position-y: center;
}
.om-carousel-card-list-fall {
  background-image: url("../img/fall.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position-y: center;
}
.om-carousel-card-list-waterproof {
  background-image: url("../img/waterproof.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position-y: center;
}
.om-carousel-card-list-lowbattery {
  background-image: url("../img/lowbattery.svg");
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position-y: center;
}
.om-carousel-card-footer {
  padding: 21px 0;
  padding-bottom: 31px;
  width: 85%;
  margin: auto;
}
.om-carousel-card-link {
  text-align: center;
}
.om-carousel-card-link a {
  text-align: left;
  background-image: url("../img/sipkacena.svg");
  background-repeat: no-repeat;
  padding-left: 31px;
  background-position-y: center;
  font: normal normal 600 14px/25px Poppins;
  letter-spacing: 1.4px;
  display: inline-block;
  color: #e63743;
  text-transform: uppercase;
}

.om-navbar {
  /* Hlavní navbar */
  background-color: #1c1c1c !important;
  height: 96px;
  padding: 0;
}
.om-navbar .om-container {
  /* Bootstrap všude strká padding	*/
  padding-left: 0;
  height: 100%;
  padding-right: 0;
}
.om-logo {
  /* Hlavní logo v navbaru */
  margin-left: 61px;
}
.navbar-nav.navbar-center {
  /*centrování linků v navbaru*/
  position: absolute;
  left: 50%;
  padding-right: 14px;
  transform: translatex(-50%);
}
.om-link {
  /* custom vzhled linků v navbaru*/
  text-align: center;
  font: normal normal 600 15px/20px Poppins;
  letter-spacing: 1.5px;
  color: #b6b6b6;
  text-transform: uppercase;
  opacity: 1;
  padding: 0 21px;
}
.om-link-a {
  padding: 0 !important;
}

/* dropdown šipička*/
.om-link:hover .om-drop-link-sluzby:after,
.om-link:hover .om-drop-link-monitorujeme:after {
  border-top-color: rgba(255, 255, 255, 0.75);
}
.om-drop-link-sluzby:after,
.om-drop-link-monitorujeme:after,
.om-drop-link-monitorujeme:before,
.om-drop-link-sluzby:before {
  top: 150%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.om-drop-link-sluzby:after,
.om-drop-link-monitorujeme:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #6d6d6d;
  border-width: 5px;
  margin-left: -5px;
}
.om-drop-link-sluzby:before,
.om-drop-link-monitorujeme::before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #6d6d6d;
  border-width: 5px;
  margin-left: -5px;
}

/* konec dropdown šipička*/
.om-links-right {
  /* linky v navbaru napravo*/
  margin-left: auto;
  height: 100%;
  margin-right: 0;
}
.megamenu-sluzby,
.megamenu-monitorujeme {
  /* velké drop down menu */
  display: none;
  position: absolute;
  top: 96px;
  width: 100%;
  text-align: left;
  font: normal normal 600 17px/34px Montserrat;
  letter-spacing: 0px;
  color: #040404;
  background-color: white;
  z-index: 100010;
  padding-left: 305px;
  padding-top: 58px;
  padding-bottom: 52px;
  border-bottom: 1px solid black;
  background-image: url("../img/mapa.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -96px;
  background-size: 67%;
}
.monitoring-odkazy .col {
  /* odkazy v megamenu služby*/
  margin-bottom: 37px;
}
.megamenu-auta::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/auto.svg");
}

.megamenu-autobusy::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/autobus.svg");
}

.megamenu-osoby::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/osoba.svg");
}

.megamenu-nakladak::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/nakladak.svg");
}
.megamenu-lode::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/lode.svg");
}
.megamenu-bagr::before {
  /* odkazy v megamenu služby. Tohle je pro definování obrázků*/
  content: url("../img/bagr.svg");
}
.megamenu-zasilka::before {
  content: url("../img/zasilka.svg");
}
.megamenu-zasilka::before,
.megamenu-lode::before,
.megamenu-bagr::before,
.megamenu-auta::before,
.megamenu-autobusy::before,
.megamenu-nakladak::before,
.megamenu-osoby::before,
.megamenu-nakladak::before {
  /* tohle určuje pozici obrázků*/
  -webkit-transform: translate(-50%, 0);
  position: absolute;
  left: -40px;
}
.om-nav-monitoring {
  /*můj monitoring v navbaru v pravo*/
  white-space: nowrap;
  min-width: 249px;
  background-color: #c91019;
  height: 100%;
  align-items: center;
}
.monitoring-odkazy {
  width: 860px;
}
.monitoring-odkaz {
  text-align: left;
  text-decoration: underline;
  font: normal normal 500 16px/29px Poppins;
  letter-spacing: 0px;
  color: #c91019;
  text-decoration: none;
  cursor: pointer;
}
.monitoring-odkaz:hover {
  color: #c91019;
  text-decoration: underline;
}
.location-icon {
  margin-left: 38px;
  width: 20px;
}
.om-link-monitoring {
  margin-right: 13px;
  height: 100%;
  text-align: center;
  font: normal normal 600 14px/19px Poppins;
  letter-spacing: 1.4px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}
.om-text-monitoring {
  line-height: 96px;
}
.om-link-monitoring:hover {
  color: rgba(243, 243, 243, 0.801);
}
.om-link-kosik {
  text-align: left;
  font: normal normal 600 15px/20px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none !important;
}
.om-link-kosik:hover {
  color: rgba(255, 255, 255, 0.788);
}
.om-nav-kosik {
  white-space: nowrap;
  min-width: 170px;
  height: 100%;
  border-left: 1px solid #2d3139;
  align-items: center;
}
.kosik-icon {
  width: 41px;
  height: 30px;
  padding: 0;
  margin-left: 30px;
}
.kosik-mnozstvi {
  background-color: white;
  text-align: left;
  font: normal normal medium 12px/16px Poppins;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 16px;
  text-decoration: none;

  margin-top: -11px;
}
.om-nav-prihlaseni {
  align-items: center;
  justify-content: center;

  width: 105px;
  border-left: 1px solid #2d3139;
}

.om-col-prihlaseni {
  text-align: center;
  margin: auto;
}

.om-col-prihlaseni::after {
  padding-top: 11px;
  display: block;
  position: absolute;
  width: 88px;
  content: "přihlásit";
  text-align: center;
  font: normal normal 600 10px/14px Poppins;
  letter-spacing: 0.79px;
  color: #989898;
  text-transform: uppercase;
}
.om-col-prihlaseni:hover::after {
  color: white !important;
}
.om-nove {
  background-color: #c91019;
  text-align: left;
  font: normal normal 600 11px/15px Poppins;
  letter-spacing: 1.1px;
  color: #ffffff;
  margin-left: 15px;

  text-transform: uppercase;
}
.om-nove::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -3px;
  left: 93px;
  border-style: solid;
  border-width: 6px 0px 0 6px;
  border-color: #c91019 transparent transparent transparent;
}

/* om-header zažátek */
.om-header {
  background-color: #2a3038;
  background-image: url("../img/mapa-black-background.svg");
  height: 344px;
  width: 100%;
  max-width: 2000px;
  margin: auto;
}
.om-header-wrapper {
  max-width: 1424px;
  margin: auto;
}
.om-header-nadpis {
  text-align: center;
  font: normal normal 600 48px/58px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 57px;
}
.om-header-popis {
  padding-top: 23px;
  text-align: center;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.7;
  max-width: 726px;
  margin: auto;
}
.om-site-location {
  padding-top: 17px;
}
.om-site-location-first {
  text-align: left;
  font: normal normal 600 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-location-first::after {
  content: " >";
  text-align: left;
  font: normal normal 600 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-location-second {
  text-align: left;
  font: normal normal normal 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-location-first:hover {
  color: #c9c9c9;
  text-decoration: underline;
}

.om-site-location-second:hover {
  color: #c9c9c9;
  text-decoration: underline;
}

/*white location*/

.om-site-white-location-first {
  text-align: left;
  font: normal normal 600 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #1d1d1d;
}
.om-site-white-location-first::after {
  content: " >";
  text-align: left;
  font: normal normal normal 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-white-location-second {
  text-align: left;
  font: normal normal 600 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #1d1d1d;
}
.om-site-white-location-second::after {
  content: " >";
  text-align: left;
  font: normal normal normal 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-white-location-third {
  text-align: left;
  font: normal normal normal 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #777777;
}
.om-site-white-location-third::after {
  content: " >";
  text-align: left;
  font: normal normal normal 13px/28px Poppins;
  letter-spacing: 0.33px;
  color: #c9c9c9;
}
.om-site-location-container {
  max-width: 1424px;
  margin: auto;
  padding-top: 17px;
}
/* konec white location*/
/* om-header konec */
/*cenovka*/

/*
tahle komponenta je znovupoužitelná stačí definovat pozici
*/

.cenovka-zelena {
  /*zelená cenovka vedle obrázku*/
  background: #1dad00 0% 0% no-repeat padding-box;
  border-radius: 158px;
  position: absolute;

  width: 158px;
  height: 158px;
  text-align: left;
}

/*custom seznamy*/
.om-vyzkousejte {
  max-width: 1548px;
  margin: auto;
  margin-left: 249px;
  background-image: url("../img/bg-location.svg");
  background-repeat: no-repeat;
  background-position-x: 37%;
  background-position-y: 70%;
}
.om-vyzkousejte-figure {
  width: 66.35%;
  padding-left: 0;
  padding-right: 0;
}
.om-vyzkousejte-figure img {
  width: 100%;
}
.om-vyzkousejte-img {
  margin-top: -80px;
}
.om-vyzkousejte-popis {
  padding-left: 0;

  min-width: 391px;
  padding-top: 69px;
  padding-right: 58px;
  text-align: left;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-vyzkousejte-popis b {
  font: normal normal 600 17px/29px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
}
.cenovka-zelena {
  right: 4%;
  top: 10.5%;
}
.om-seznam-funkci {
  padding-top: 25px;
  list-style-type: none;
  text-align: left;
  font: normal normal 500 16px/40px Poppins;
  letter-spacing: 0px;
  color: #777777;
  padding-left: 0;
}
.om-seznam-funkci li {
  background-image: url("../img/odrazka.svg");
  background-repeat: no-repeat;
  padding-left: 42px;
  background-position-y: center;
}
.product-redbutton-vyzkousejte {
  margin-top: 51px;
  width: 291px;
  white-space: nowrap;
}
.om-obtext-nadpis {
  padding-bottom: 0;
  text-align: left;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
}

.om-obtext-popis {
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-obtext-popis b {
  color: #000000;
  font-weight: 500;
}
/*konec custom seznamy*/
/* cena produktu pod červeným tlačítkem*/
.product-cena {
  margin-top: 45px;
}
.product-cena a {
  text-align: left;
  font: normal normal normal 23px/31px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
}
.product-cena:hover a {
  color: rgba(0, 0, 0, 0.626);
}
.product-cena img {
  margin-right: 17px;
}
/* konec cena produktu pod červeným tlačítkem*/
/*red button*/

.product-redbutton {
  cursor: pointer;
  background-color: #c91019;
  padding: 18px 33px;
  border-radius: 6px;
}
.product-redbutton a {
  text-align: center;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.24px;
  color: #ffffff;
  opacity: 1;
}
.product-redbutton:hover a {
  color: rgba(0, 0, 0, 0.747);
}
/* konec red button*/

/* součásti cenovky*/
.cenovka-popis {
  text-align: center;
  font: normal normal normal 22px/31px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}

.cenovka-cena {
  text-align: center;
  font: normal normal bold 34px/46px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/*konec cenovka*/
.main-footer {
  background-color: #1c1c1c;
  background-image: url("../img/mapa-black.svg");
  min-height: 750px;
  background-repeat: no-repeat;
}
.footer-kontakty {
  padding: 60px 245px;
  padding-right: 238px;
  border-bottom: 1px solid #2a2a2a;
}
.footer-kontakt {
  width: 25%;
}
.footer-kontakty-nadpis {
  margin-top: 0.5rem;
  text-align: left;
  font: normal normal 600 14px/19px Poppins;
  letter-spacing: 1.4px;
  color: #e63743;
  text-transform: uppercase;
}
.footer-kontakty-odkaz {
  margin-top: 0.5rem;
}
.footer-kontakty-odkaz a {
  text-align: left;
  font: normal normal 600 19px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
.footer-kontakty-odkaz:hover a {
  color: #ffffffa1;
}
.footer-kontakty-ikona {
  width: 88px;
}
.footer-trust-pilot {
  margin-top: 183px;
}
.footer-kontakt-telefon {
  /* speciální marginy pro každý prvek v patičce*/
  width: 250px;

  margin-left: 130px;
}
.footer-kontakt-email {
  margin-left: 114px;
  min-width: 350px;
}
.footer-kontakt-button {
  margin-left: auto;
  margin-right: 0;
  width: 250px;
  margin-top: 0.5rem;
  background: #484848 0% 0% no-repeat padding-box;
  border-radius: 6px;
  text-align: center;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.24px;
  color: #ffffff;
  padding: 22px 33px;
}
.footer-kontakt-button a {
  text-align: center;
  font: normal normal 500 16px/25px Poppins;
  letter-spacing: 0.24px;
  color: #ffffff;
}
.footer-kontakty-logo {
  width: 250px;
}
.footer-odkazy {
  padding: 80px 245px;
  padding-right: 100px;
  border-bottom: 1px solid #2a2a2a;
}
.footer-odkazy-nadpis {
  text-align: left;
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-bottom: 33px;
}
.footer-odkazy-adresa {
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.footer-odkazy-odkaz a {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 15px/38px Poppins;
  letter-spacing: 0px;
  color: #777777;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer-odkazy-odkaz a:hover {
  color: #ffffff;
}

.footer-odkazy-sluzby {
  margin-left: 140px;
}
.footer-odkazy-monitorujeme {
  margin-left: 20px;
}
.footer-odkazy-monitorujeme-online {
  margin-left: 0px;
}
.footer-odkazy .col-xl {
  padding: 0;
}
.footer-copyright {
  padding: 25px 0px;
}
.footer-copyright-text {
  text-align: left;
  font: normal normal normal 14px/29px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.36;
  padding-left: 250px;
}
.footer-copyright-logo {
  /*logo v pravo dole*/
  text-align: right;
  padding-right: 230px;
}

.footer-kontakty,
.om-container,
.footer-copyright,
.footer-odkazy {
  /* pro responzivitu na velkých obrazovkách*/
  max-width: 2000px;
  margin: auto;
}
.close-button {
  /*button v navbar collapsed na zavírání sidebaru*/
  line-height: inherit;
  user-select: none;
  color: white;
  background-color: red;
  border-radius: 15px;
  font-size: 2em;

  border-width: 0;
  margin-right: 4%;
  margin-top: 2.6%;
  width: 40px;
  height: 40px;
  font: normal normal normal 20px/20px Poppins;
}
.close-button:hover {
  color: red;
  background-color: white;
}
.navbar-collapse-2 {
  position: fixed;
  top: 0;

  bottom: 0;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  height: auto;
  overflow-y: auto;
  background-color: black;
  transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  z-index: 100;
}
.om-dropdownmenu {
  text-align: center;
  background-color: #1a1919af;
  font: normal normal 500 15px/20px Poppins;
}
@media only screen and (max-width: 1880px) {
  .footer-kontakty {
    /*responzivita footer kontaktů*/
    padding: 60px 190px;
    padding-right: 190px;
  }
}
@media only screen and (max-width: 1785px) {
  .navbar-nav.navbar-center {
    position: relative;
  }
  .om-nav-monitoring {
    min-width: 200px;
  }

  .footer-kontakty {
    /*responzivita footer kontaktů*/
    padding: 60px 50px;
    padding-right: 50px;
  }
  .footer-odkazy {
    padding: 80px 100px;
  }
  .footer-odkazy-sluzby,
  .footer-odkazy-monitorujeme,
  .footer-odkazy-monitorujeme-online {
    margin-left: 5px;
  }
  .om-vyzkousejte {
    margin-left: auto;
  }
  .om-vyzkousejte-popis {
    padding-left: 17px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 1500px) {
  .location-icon {
    margin-left: 9px;
  }
  .om-link-monitoring {
    margin-right: 0;
  }
  .om-link {
    padding: 0 10px;
  }
  .kosik-icon {
    margin-left: 10px;
  }
  .om-nav-kosik {
    min-width: 140px;
  }
  .om-link-kosik {
    padding-right: 5px;
  }
  .footer-kontakty {
    /*responzivita footer kontaktů*/
    padding: 60px 20px;
    padding-right: 20px;
  }
  .footer-kontakt-email {
    margin-left: 0px;
  }
  .footer-kontakt-telefon {
    margin-left: 20px;
  }
  .footer-odkazy {
    padding: 80px 70px;
  }
  .om-site-location {
    padding-left: 17px;
  }

  .om-vyzkousejte-img {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1400px) {
  .om-nav-prihlaseni {
    width: 100px;
  }
  .om-col-prihlaseni::after {
    width: 100px;
  }
  .om-logo {
    margin-left: 12px;
  }
}
@media only screen and (max-width: 1240px) {
  .om-link-a {
    font-size: 0.8rem;
  }
  .product-redbutton-vyzkousejte {
    margin-top: 21px;
  }
  .om-vyzkousejte-figure {
    width: 60%;
  }
  .om-vyzkousejte-img {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer-trust-pilot {
    margin-top: 1.2rem;
  }
  .om-link {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .dropdown {
    text-align: center;
    margin-bottom: 1.2rem;
  }
  .om-link-a {
    font-size: 1.2rem;
  }
  .om-links-right {
    margin-right: auto;
  }
  .om-navbar-toggler {
    margin-right: 5%;
    margin-left: 5%;

    cursor: pointer;
  }
  .om-links-right {
    /*bootstrap automaticky vypíná row, když je šířka 200px*/
    flex-direction: row;
  }
  .footer-kontakty {
    /*responzivita footer kontaktů*/
    padding: 60px 0px;
    padding-right: 20px;
  }
  .footer-kontakty-logo {
    margin-left: 50px;
    margin-right: auto;
    width: 350px;
    margin-bottom: 2rem;
  }
  .footer-odkazy {
    padding: 50px 50px;
  }
  .footer-kontakt-email,
  .footer-kontakt-telefon {
    margin-top: 1rem;
    margin-left: 50px;
    margin-right: auto;
    width: 350px;
    min-width: 350px;
  }
  .footer-kontakt-button {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 2rem;
  }
  .footer-odkazy-sluzby,
  .footer-odkazy-monitorujeme,
  .footer-odkazy-monitorujeme-online {
    margin-top: 2rem;
  }
  .footer-copyright-text {
    padding-left: 50px;
  }
  .footer-copyright-logo {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .om-vyzkousejte-popis {
    min-width: 391px;
    padding: 40px 10px;
    margin: auto;
    max-width: 500px;
  }
  .om-vyzkousejte {
    margin-left: auto;
  }
  .om-vyzkousejte-figure {
    max-width: 567px;
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 753px) {
  .om-text-monitoring {
    display: none;
  }
  .om-link-kosik {
    display: none;
  }
  .om-nav-prihlaseni {
    width: 90px;
  }
  .location-icon {
    margin: auto;
  }
  .om-col-prihlaseni::after {
    display: none;
  }
  .om-nav-kosik {
    min-width: 90px;
  }
  .om-nav-monitoring {
    min-width: 90px;
  }
  .kosik-icon {
    margin: auto;
  }
  .om-header-nadpis {
    font: normal normal 600 43px/58px Poppins;
    padding-left: 10px;
    padding-right: 10px;
  }
  .om-header-popis {
    font: normal normal 500 15px/29px Poppins;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-copyright-text {
    padding-bottom: 1.5rem;
  }
  .footer-copyright-logo {
    text-align: left;
    padding-left: 50px;
  }
  .om-nav-prihlaseni {
    width: 60px;
  }
  .om-nav-kosik {
    min-width: 60px;
  }
  .om-nav-monitoring {
    min-width: 60px;
  }
  .om-logo img {
    width: 100px;
  }
}
@media only screen and (max-width: 450px) {
  .om-vyzkousejte-popis {
    min-width: 0;
  }
  .om-header-nadpis {
    font: normal normal 600 38px/58px Poppins;
  }
  .om-header-popis {
    font: normal normal 500 13px/29px Poppins;
  }
  .om-nav-prihlaseni {
    width: 40px;
  }
  .om-nav-kosik {
    min-width: 55px;
  }
  .om-nav-monitoring {
    min-width: 40px;
  }
  .footer-copyright-text,
  .footer-copyright-logo {
    padding-left: 5%;
  }
  .footer-kontakty-logo {
    margin-left: 5%;
    margin-right: auto;
    width: 350px;
    margin-bottom: 2rem;
  }
  .footer-odkazy {
    padding: 50px 5%;
  }
  .footer-kontakt-email,
  .footer-kontakt-telefon {
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: auto;
    width: 350px;
    min-width: 350px;
  }
  .footer-kontakt-button {
    margin-left: 5%;
    margin-right: auto;
    margin-top: 2rem;
  }
  .om-logo img {
    width: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .footer-kontakty-logo {
    width: 200px;
  }
  .footer-kontakt-email,
  .footer-kontakt-telefon {
    width: 200px;
    min-width: 200px;
  }
  .footer-kontakt-email a,
  .footer-kontakt-telefon a {
    font-size: 1rem;
  }
  .footer-kontakty-ikona {
    display: none;
  }
}
@media only screen and (max-width: 340px) {
  .om-logo img {
    width: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-collapse-2 {
    display: none !important;
    visibility: hidden;
  }
}
@media only screen and (min-width: 2000px) {
  .om-vyzkousejte {
    margin-left: auto;
  }
}
