.om-navtab {
  justify-content: center;
  border-bottom: 1px solid #7070704d;
}
.om-navtab .nav-link {
  text-align: center;
  font: normal normal 600 17px/29px Poppins;
  letter-spacing: 0px;
  padding: 27px 18px;
  color: #777777;
  opacity: 1;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-left: none;
  border-right: none;
  border-top: none;
}
.om-navtab .nav-link:hover {
  color: #c91019;
  border-bottom-color: transparent;
}
.om-navtab .nav-link.active {
  border: none;
  border-bottom: 3px solid #c91019;
  color: #c91019;
}
.om-monitoring-obrazek {
  padding: 0;
  padding-top: 76px;
  margin-right: 0px;
  text-align: center;
}
.om-monitoring-popis {
  padding: 0;

  padding-top: 76px;
  margin-left: 15px;
}
.om-monitoring-mainimage {
  width: 100%;
  min-width: 600px;
  max-width: 945px;
  z-index: -1;
}
.om-monitoring-redbutton {
  width: 334px;
  text-align: center;
  position: relative;
  padding-top: 29px;
  text-align: center;
  font: normal normal 500 18px/27px Poppins;
  letter-spacing: 0.27px;
  color: #ffffff;
  padding-bottom: 29px;
  margin: auto;
  margin-left: 240px;
  margin-top: -42px;
}
.om-monitorujeme-container {
  max-width: 2000px;
  margin: auto;
}
.om-monitoring-icon {
  padding-top: 12px;
  padding-bottom: 30px;
}
.om-monitoring-size {
  max-width: 576px;
  min-width: 485px;
  margin-right: 249px;
  margin-left: auto;
}
.om-obtext-nadpis {
  padding-bottom: 30px;
  margin-bottom: 0;
}
.om-obtext-popis {
  padding-bottom: 19px;
  font: normal normal 500 17px/29px Poppins;
}
.om-seznam-funkci {
  padding-top: 18px;
}
.product-cena {
  margin-top: 37px;
}
.om-bike-banner {
  background-image: url("../img/background-bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 2000px;
  margin: auto;
  margin-top: 96px;
}
.om-bike-banner-container {
  max-width: 1464px;
  margin: auto;
  padding-left: 20px;
  padding-top: 74px;
  padding-bottom: 85px;
}
.om-monitorujeme-main {
  background-repeat: no-repeat;
  padding-bottom: 1px;
  background-image: url("../img/background-monitorujeme.png");
  background-position-y: bottom;
}
.om-bike-banner-heading {
  text-align: left;
  font: normal normal 600 43px/58px Poppins;
  letter-spacing: 0px;
  padding-bottom: 7px;
  color: #ffffff;
}
.om-bike-banner-button {
  max-width: 248px;
  margin-top: 55px;
}
.om-bike-banner-logo {
  margin-bottom: 42px;
}
.om-bike-banner-body {
  max-width: 582px;
}
.om-bike-banner-text {
  text-align: left;
  font: normal normal normal 17px/29px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.6;
}
.om-obtext-popis-machinery {
  padding-bottom: 39px;
}
.om-machinery {
  margin-top: 63px;
}
.om-machinery-products {
  margin-top: 60px;
  padding-bottom: 95px !important;
}
.om-truck-products {
  margin-top: 60px;
  padding-bottom: 106px !important;
}
.om-truck {
  padding-top: 70px;
  border-top: 1px solid #7070702e;
}
.om-truck-icon {
  margin-top: 85px;
}
.om-contactus {
  max-width: 1424px;
  background-color: white;
  opacity: 1;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0px 3px 48px #0000000d;
  background-image: url("../img/contactus-nebo.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.om-contactus-container {
  padding-top: 55px;
  padding-left: 10px;
  padding-bottom: 68px;
}
.om-contactus-email-body {
  max-width: 452px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-contactus-form {
  max-width: 417px;
  margin: auto;
  margin-top: 41px;
}

.om-contactus-input {
  height: 100%;
  border: 0 !important;
  outline: 0 !important;
  padding-left: 20px;
  background: #f1f4f7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  width: 100%;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  opacity: 0.8;
}
.om-contactus-nadpis {
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  padding-bottom: 23px;
  padding-top: 13px;
}
.om-contactus-input-container {
  padding-left: 0;
}
.om-contactus-button {
  max-width: 223px;
  margin: auto;
  margin-top: 41px;
}
.om-contactus-icon {
  text-align: center;
}
@media only screen and (max-width: 1700px) {
  .om-obtext-nadpis {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  .om-obtext-popis {
    padding-bottom: 10px;
    font: normal normal 500 17px/29px Poppins;
  }
  .om-seznam-funkci {
    padding-top: 10px;
  }
  .product-cena {
    margin-top: 17px;
  }
  .om-monitoring-icon {
    padding-top: 2px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 1600px) {
  .om-monitoring-size {
    margin-right: auto;
  }
}
@media only screen and (max-width: 1500px) {
  .om-monitoring-redbutton {
    margin-left: auto;
  }
}
@media only screen and (max-width: 1300px) {
  .om-obtext-popis {
    padding-bottom: 5px;
    font: normal normal 500 16px/27px Poppins;
    padding-right: 17px;
  }
  .om-seznam-funkci {
    padding-top: 8px;
  }
  .product-cena {
    margin-top: 10px;
  }
  .om-monitoring-icon {
    padding-top: 2px;
    padding-bottom: 5px;
  }
  .om-monitoring-mainimage {
    padding-top: 100px;
  }
  .om-monitoring-popis {
    margin-left: 0;
    padding-left: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .om-contactus {
    background-image: none;
  }
  .om-contactus-lg-border {
    border-top: 2px solid #f4f4f4;
  }
}
@media only screen and (max-width: 700px) {
  .om-truck {
    padding-top: 0;
  }
  .om-truck-icon {
    margin-top: 0;
  }
  .om-monitoring-mainimage {
    min-width: 200px;
    padding-top: 0px;
  }
  .om-monitoring-size {
    min-width: 0;
    width: 100%;
  }
  .om-monitoring-obrazek {
    padding-top: 36px;
  }
  .om-carousel-nadpis {
    padding-left: 17px;
  }
  .om-bike-banner {
    margin-top: 35px;
  }
  .om-bike-banner-heading {
    font: normal normal 600 38px/53px Poppins;
  }
}
@media only screen and (max-width: 500px) {
}
