.om-product-show {
  /*
	První věc na stránce obsahuje obrázek laptopu se satelitem
	*/
  margin: auto;
  max-width: 2000px;
  background-image: url("../img/mapa2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -45px;
}
.om-product-show .col-md {
  padding: 0;
}
.om-redbutton-free {
  max-width: 291px;
  width: 291px;
}
.product-image {
  /*styly containeru obsahující obrázek se satelitem */
  width: 63%;
  padding-top: 75px;
  margin-right: 5px;
  text-align: right;
  min-width: 503px;
}
.product-image img {
  /*úprava samotného obrázku*/
  width: 92%;
}
.cenovka-zelena {
  right: 6%;
  top: 21.8%;
}

/*konec součástí cenovky*/

.product-nadpis {
  /*nadpis GPS Online monitoring*/
  text-align: left;
  font: normal normal 600 43px/58px Poppins;
  letter-spacing: 0px;
  color: #1d1d1d;
  margin-bottom: 0;
  margin-right: -100px;
  max-width: 500px;
}
.product-container {
  /*container obsahující nadpis popis červené tlačítko*/
  padding-top: 203px;
  padding-left: 238px;
}
.product-popis {
  /*popis produktu */
  margin-top: 32px;
  max-width: 500px;
  text-align: left;
  font: normal normal 500 17px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
  height: 102px;
  opacity: 1;
}
.om-features-card-image {
  margin-bottom: 27px;
}
.om-features {
  max-width: 1198px;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.om-features-card {
  max-width: 348px;
  padding: 0;
}
.om-features-card-heading {
  text-align: left;
  font: normal normal 600 24px/38px Poppins;
  letter-spacing: 0px;
  min-height: 81px;
  color: #1d1d1d;
}
.om-features-card-text {
  text-align: left;
  font: normal normal normal 16px/29px Poppins;
  letter-spacing: 0px;
  color: #777777;
}
.om-showoff-heading {
  text-align: left;
  font: normal normal 600 22px/34px Poppins;
  letter-spacing: 0px;
  color: #2c2c2c;
  opacity: 1;
}
.om-showoff {
  max-width: 1424px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 37px;
}
.om-showoff-left-image {
  padding: 0;
  max-width: 697px;
}
.om-showoff-left-image img {
  width: 100%;
}
.om-showoff-right-image-composition {
  max-width: 729px;
  padding: 0;
}
.om-showoff-right-image-composition .col-sm {
  margin-left: 29px;
  margin-bottom: 29px;
  max-width: 334px;
  padding: 0;
}
.om-showoff-right-image-composition .col-sm img {
  max-width: 334px;
  width: 100%;
}

.om-nabidka .col-lg {
  padding-left: 0;
  padding-right: 0;
}
.om-nabidka {
  border-top: 1px solid #c4c4c4;
  max-width: 1424px;
  margin: auto;
}
.om-nabidka-text-container {
  width: 52.5%;
  padding: 0;
  padding-top: 91px;
  padding-bottom: 121px;
}
.om-nabidka-link-container {
  padding: 0;
  padding-top: 91px;
  padding-bottom: 121px;
}
.om-nabidka-link {
  width: 247px;
  margin: auto;
  margin-right: 121px;
}
.om-nabidka-text {
  margin-right: 0;
  margin-left: auto;
  text-align: left;
  max-width: 621px;

  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
}
.om-link-cena {
  padding-top: 20px;
  text-align: center;
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
}
@media only screen and (max-width: 1835px) {
  .product-container {
    padding-top: 150px;
    padding-left: 200px;
  }
  .product-image {
    padding-top: 100px;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1670px) {
  .product-container {
    padding-left: 140px;
  }
  .om-product-show {
    background-size: cover;
  }
}
@media only screen and (max-width: 1490px) {
  .om-showoff-heading {
    padding-left: 17px;
  }
  .om-showoff-right-image-composition .col-sm {
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .om-sluzby-card {
    margin: 0 7px;
    max-width: 440px;
    background-size: 190px;
    padding: 30px 40px;
  }
  .product-container {
    padding-left: 70px;
  }
  .om-site-location-container {
    padding-left: 37px;
  }
}

@media only screen and (max-width: 1280px) {
  .om-features {
    margin-top: 50px;
  }
  .product-container {
    padding-top: 100px;

    padding-left: 30px;
  }
  .product-image {
    padding-top: 100px;
    width: 55%;
  }
}
@media only screen and (max-width: 1200px) {
  .om-nabidka-text {
    padding-left: 17px;
  }
  .om-showoff-row {
    justify-content: center;
  }
  .om-image-left {
    margin-left: 0px !important;
  }
  .om-features {
    padding-left: 17px;
    padding-right: 17px;
  }
  .om-features-card {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 37px;
  }
}

@media only screen and (max-width: 992px) {
  .om-nabidka-text-container {
    margin: auto;
  }
  .om-nabidka-text-container {
    padding-bottom: 0;
  }
  .om-nabidka-link {
    margin-right: auto;
  }
  .om-nabidka-text {
    margin-right: auto;
    margin-left: auto;
  }
  .om-nabidka-text-container {
    width: 82.5%;
  }
  .product-container {
    padding: 5% 17px;
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
  }
  .product-nadpis {
    font: normal normal 600 40px/50px Poppins;
    margin-right: 0px;
  }
  .product-popis {
    width: 80%;
  }
  .product-image {
    width: 100%;
    min-width: 0;
  }
  .om-features {
    justify-content: center;
  }
}
@media only screen and (max-width: 650px) {
  .product-popis {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .om-nabidka-text-container {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .om-showoff-right-image-composition .col-sm img {
    margin: auto;
  }
  .om-showoff-right-image-composition .col-sm {
    text-align: center;
    margin-left: 0px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .om-features-card {
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-nadpis {
    font: normal normal 600 30px/40px Poppins;
  }
  .product-container {
    padding: 0 5%;
  }
}
